<div id="error">

  <div class="layout-holder">
    <div class="layout-wrapper">
      <div class="layout-container">
        <h2>404 Not Found</h2>
        <div class="go-back click_link" (click)="goBack()">
          Go back
        </div>
      </div>
    </div>
  </div>

</div>
