<div id="modal" [class.active]="state">
  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-close click_link" (click)="_todosService.showTodoDetails = false">
        <i class="icon-close-rounded"></i>
      </div>
      <form class="todo-form" [formGroup]="updateTaskForm" (ngSubmit)="onUpdateTodo(updateTaskForm.value); this.updateTaskForm.reset();">
        <div class="form-box">
          <label for="todo_text">New todo text</label>
          <textarea
                 id="todo_text"
                 formControlName="todo_text"
                 rows="5"
                 [value]="todoPassedText"
                 (keydown.enter)="onUpdateTodo(updateTaskForm.value); this.updateTaskForm.reset();"
                 placeholder="Todo text"></textarea>
          <div class="error" *ngIf="todoText.invalid && (todoText.dirty || todoText.touched)">
            <div *ngIf="todoText.errors.required">
              Todo name is required.
            </div>
            <div *ngIf="todoText.errors.minlength">
              Todo name must be at least 3 characters long.
            </div>
            <div *ngIf="todoText.errors.maxlength">
              Todo name cannot be longer then 200 chars.
            </div>
          </div>
        </div>
        <div class="todo-creation-time flex flex_space_between">
          <div>Created {{passedTodoCreatedAt | amTimeAgo}}</div>
          <div>Updated {{passedTodoUpdatedAt | amTimeAgo}}</div>
        </div>
        <div class="error">
          <span *ngIf="_todosService.showError">Task with same name already exist!</span>
        </div>
        <div class="form-box submit">
          <button
            class="btn"
            type="submit"
            [class.disabled]="!updateTaskForm.valid"
            [disabled]="!updateTaskForm.valid">Update todo</button>
        </div>
      </form>
    </div>
  </div>
</div>
