$primary_color_dark: #362b56;
$secondary_color_dark: #3f3364;
$primary_color_light: #f6f6ed;

$primary_blue_darker: #e10873;
$primary_blue_lighter: #f50374;

$font_primary_dark: #362b56;
$font_primary_light: #f6f6ed;
$font_primary_hover: $primary_blue_lighter;

$success_color: #25fedf;
$error_color: #ff1c76;
$disabled_color: #8b8b8b;
