<div id="modal" [class.active]="state">
  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-close click_link" (click)="_todosService.showTodoForm = false">
        <i class="icon-close-rounded"></i>
      </div>
      <form class="todo-form" [formGroup]="createForm" (ngSubmit)="onCreateTask(createForm.value); this.createForm.reset();">
        <div class="form-box">
          <label for="todo_text">Todo text</label>
          <input type="text"
                 id="todo_text"
                 formControlName="todo_text"
                 (keydown.enter)="_todosService.addTodo(createForm.value); this.createForm.reset();"
                 placeholder="Todo text">
          <div class="error" *ngIf="todoText.invalid && (todoText.dirty || todoText.touched)">
            <div *ngIf="todoText.errors.required">
              Todo name is required.
            </div>
            <div *ngIf="todoText.errors.minlength">
              Todo name must be at least 3 characters long.
            </div>
            <div *ngIf="todoText.errors.maxlength">
              Todo name cannot be longer then 200 chars.
            </div>
          </div>
        </div>
        <div class="error">
          <span *ngIf="_todosService.showError">Task with same name already exist!</span>
        </div>
        <div class="form-box submit">
          <button
            class="btn"
            type="submit"
            [class.disabled]="!createForm.valid"
            [disabled]="!createForm.valid">Add todo</button>
        </div>
      </form>
    </div>
  </div>
</div>
