.flex{
  display: flex;
  &.flex_space_between{
    justify-content: space-between;
  }
  &.flex_justify_items_center{
    justify-items: center;
  }
  &.flex_justify_content_center{
    justify-content: center;
  }
  &.flex_align_items_center{
    align-items: center;
  }
}
