html{
  background-color: $primary_color_dark;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: $primary_color_dark;
  border-radius: 0;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: $primary_color_dark;
  border-radius: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary_blue_darker;
  border-radius: 0;
}

*:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container{
  // Set width of container
  max-width: 1240px;
  width: 100%;
  padding: 0 2rem;
  margin: auto;
}
