@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
$font_style_primary: 'Roboto', sans-serif;

// Desc: Font Size, Weight, Line Height, Letter Spacing (If values are not passed it will use default values)
@mixin fontSWHS($fontSize: 1.4rem, $fontWeight: 400, $fontLineHeight: initial, $fontSpacing: initial) {
  // Normal font scale
  $font_scale: 1;
  font-size: $font_scale * $fontSize;
  font-weight: $fontWeight;
  line-height: $fontLineHeight;
  letter-spacing: $fontSpacing;
  // Change font scale for wide desktops
  //@media only screen and (min-width: 1441px) {
  //  $font_wide_desktop_scale: 1.15;
  //  font-size: $font_wide_desktop_scale * $fontSize;
  //  font-weight: $fontWeight;
  //  line-height: $fontLineHeight;
  //  letter-spacing: $fontSpacing;
  //}
  // Change font scale for mobile (1px to disable this option)
  //@media only screen and (max-width: 1px) {
  //  $font_mobile_scale: 0.75;
  //  font-size: $font_mobile_scale * $fontSize;
  //  font-weight: $fontWeight;
  //  line-height: $fontLineHeight;
  //  letter-spacing: $fontSpacing;
  //}
}

html {
  font-family: $font_style_primary;
  font-size: 62.5%; // 1 rem = 10 px
  /* Better Font Rendering */
  @include fontSmoothing;
}

body{
  color: $font_primary_dark;
  @include fontSWHS(1.4rem, 400, initial, initial);
}

a{
  &.link{
    color: $font_primary_dark;
    @include transition(0.2s linear);
    &.nuxt-link-exact-active{
      color: $font_primary_hover;
    }
    &:hover{
      color: $font_primary_hover !important;
    }
  }
  &.link_light{
    color: $font_primary_light;
    @include transition(0.2s linear);
    &.nuxt-link-exact-active{
      color: $font_primary_hover;
    }
    &:hover{
      color: $font_primary_hover !important;
    }
  }
  &.active{
    color: $font_primary_hover !important;
  }
}

button, input, select, textarea, a, p{
  font-style: $font_style_primary;
}

p{
  @include fontSWHS(1.2rem, 400, 2.5rem, initial);
}
