$title_color: #ff1c76;
$input_border_color: #6a6096;
$input_border_color_focus: #ff9f7e;
$input_text_color: #ff9f7e;
$button_submit_color: #6a6096;
$button_submit_color_hvr: #ff1c76;

.error{
  margin-top: 1rem;
  color: $error_color;
}

.todo-form{
  label{
    display: block;
    font-weight: 600;
    margin-bottom: .5rem;
  }
  .form-box{
    position: relative;
    margin-top: 2rem;
    &.submit{
      margin-top: 4rem;
      text-align: center;
    }
    .error{
      margin-top: 1rem;
      color: $error_color;
    }
    .success{
      margin-top: 1rem;
      color: $success_color
    }
    .disabled{
      cursor: not-allowed;
      background-color: $disabled_color !important;
    }
    .change-form{
      color: $title_color;
      margin-left: 2rem;
    }
    input, textarea{
      width: 100%;
      height: 3.5rem;
      background: transparent;
      border: none;
      border-bottom: 2px solid $input_border_color;
      color: $input_text_color;
      @include fontSWHS(1.4rem, 500, 3.5rem);
      &:focus{
        border-bottom: 2px solid $input_border_color_focus;
      }
      &::placeholder{
        color: $input_border_color;
      }
    }
    textarea{
      height: auto;
      @include fontSWHS(1.4rem, 500, 1.5rem);
      @include border-radius(5px);
    }
    .btn{
      background-color: $button_submit_color;
      &:before{
        background-color: $button_submit_color_hvr;
      }
    }
  }
}
