<div id="auth">

  <form class="layout-holder"
        [formGroup]="form"
        (ngSubmit)="onSubmitForm(form.value)">
    <div class="layout-wrapper">
      <div class="layout-container">
        <h2>{{!changeForm ? 'Sign Up' : 'Sign In'}}</h2>
        <div>
          <div class="form-box" *ngIf="!changeForm">
            <input type="text" placeholder="Username" formControlName="username">
            <div class="error" *ngIf="formUsername.invalid && (formUsername.dirty || formUsername.touched)">
              <div *ngIf="formUsername.errors.required">
                Username is required.
              </div>
              <div *ngIf="formUsername.errors.minlength">
                Username must be at least 5 characters long.
              </div>
              <div *ngIf="formUsername.errors.pattern">
                Username containing illegal characters.
              </div>
            </div>
          </div>
          <div class="form-box">
            <input type="email" placeholder="Email" formControlName="email">
            <div class="error" *ngIf="formEmail.invalid && (formEmail.dirty || formEmail.touched)">
              <div *ngIf="formEmail.errors.required">
              Email is required.
              </div>
              <div *ngIf="formEmail.errors.minlength">
              Email must be at least 4 characters long.
              </div>
              <div *ngIf="formEmail.errors.email">
              Email is invalid.
              </div>
            </div>
          </div>
          <div class="form-box">
            <input type="password" placeholder="Password" formControlName="password">
            <div class="error" *ngIf="formPassword.invalid && (formPassword.dirty || formPassword.touched)">
              <div *ngIf="formPassword.errors.required">
                Password is required.
              </div>
              <div *ngIf="formPassword.errors.minlength">
                Password must be at least 4 characters long.
              </div>
              <div *ngIf="formPassword.errors.maxlength">
                Password cannot be longer then 15 characters.
              </div>
              <div *ngIf="formPassword.errors.pattern">
                Password containing illegal characters.
              </div>
            </div>
          </div>
          <div class="form-box">
            <div class="error" *ngIf="!changeForm ? signUpError : signInError">{{!changeForm ? signUpErrorMsg : signInErrorMsg}}</div>
          </div>
          <div class="form-box submit">
            <button
              class="btn"
              type="submit"
              [class.disabled]="!form.valid"
              [disabled]="!form.valid">{{!changeForm ? 'Sign Up Here' : 'Sign In Here'}}</button> <a class="change-form link" (click)="onChangeForm()"> or {{changeForm ? 'Sign Up' : 'Sign In'}}</a>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
