#modal{
  z-index: 10;
  background-color: rgba(54,43,86,0.4);
  @include fullscreen(fixed, 0, 0, 0, 0);
  @include animationTransformLeftToRight;
  &.active{
    @include animationTransformReset;
  }
  .modal-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: auto;
    padding: 2rem;
    .modal-content{
      position: relative;
      max-width: 550px;
      background-color: rgba(54,43,86,1);
      padding: 4rem;
      max-height: 80vh;
      overflow: auto;
      margin: auto;
      height: auto;
      width: 100vw;
      color: $font_primary_light;
      @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
      @include border-radius(5px);
      .modal-close{
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
      }
    }
  }
}

.todo-creation-time{
  margin-top: 1rem;
  @include fontSWHS(1.2rem, 600);
}
