$bg_color: #6a6096;

.swal2-container{
  &.swal2-shown{
    background-color: transparent !important;
  }
}

.custom-top-right-notifications{
  background-color: rgba(54,43,86,0.95) !important;
  .swal2-success-ring{
    border: 0.25em solid #a5dc86 !important;
  }
  .swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-success-fix{
    background-color: rgba(54,43,86,0.95) !important;
  }
  .swal2-success-fix{
    top: 0.3em !important;
  }
  .swal2-title{
    color: $primary_color_light !important;
    font-size: 1.4rem !important;
  }
  .swal2-content{
    color: $primary_color_light !important;
    font-size: 1.2rem !important;
  }
  .swal2-confirm{
    font-size: 1.2rem !important;
      &:focus{
      @include box-shadow(none !important);
    }
  }
  .swal2-cancel{
    font-size: 1.2rem !important;
  }
}
