<div>

  <div id="task-list">
    <div class="task-list-item" *ngFor="let data of _todosService.todo_items; let i = index">

      <div class="task-list-item-container grid g_col_gap_2" style="grid-template-columns: auto 1fr auto auto" [class.completed]="data.completed">
        <div class="task-list-item-checkbox-container">
          <input type="checkbox" [checked]="data.completed" (click)="_todosService.completeTodo(data.id, data.completed, data.todo_text)"/>
          <span></span>
        </div>
        <div class="click_link text-overflow"
             [class.click_disabled_not_allowed]="_todosService.showEditItem === data.todo_text"
             (click)="_todosService.showTodoDetails = true; passTodoText(data.todo_text, data.id, data.created_at, data.updated_at)">
          {{data.todo_text}}
        </div>

        <div class="task-item-expand-options">
          <i class="icon-arrow-left2"></i>
          <span class="click_link" (click)="_todosService.deleteTodo(data.id, data.todo_text)">
            <i class="icon-trash"></i> Remove
          </span>
        </div>

      </div>

      <div>
        <span *ngIf="_todosService.errorSameTaskSingle === data.todo_text">Same todo already exist</span>
      </div>

    </div>

    <div class="task-add-new click_link" (click)="_todosService.showTodoForm = true;">
      <div class="icon-rounded">
        <i class="icon-plus"></i>
      </div>
      <div class="task-add-new-txt">Add new todo</div>
    </div>


    <div class="task-delete-all click_link">
      <span (click)="_todosService.deleteAllTodos()" *ngIf="_todosService.todo_items.length > 0"><i class="icon-trash"></i> Delete all todos!</span>
    </div>

  </div>
</div>

<app-todos-modal [todoPassedText]="passedTodoText"
                 [todoPassedId]="passedTodoId"
                 [passedTodoCreatedAt]="passedTodoCreatedAt"
                 [passedTodoUpdatedAt]="passedTodoUpdatedAt"
                 [state]="_todosService.showTodoDetails">
</app-todos-modal>

<app-todos-form  [state]="_todosService.showTodoForm"></app-todos-form>
