$nav-tab-bg: #362B56;

body{
  background-image: url(./assets/images/auth-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  #nav-tabs{
    position: absolute;
    top: -3.5rem;
    left: 1rem;
    .nav-tab{
      background-color: $nav-tab-bg;
      display: inline-block;
      height: 3.5rem;
      padding: 1rem 3rem;
      color: $font_primary_light;
      margin: 0 .1rem;
      text-transform: uppercase;
      @include fontSWHS(1.4rem, 400);
      @include border-radius(5px 5px 0 0);
      @include transition(0.2s linear);
      &.home{
        padding: 1rem 2rem;
      }
      &:hover{
        color: $font_primary_hover;
      }
    }
  }
  .logout{
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    @include transition(0.2s linear);
  }
  .welcome-msg{
    position: absolute;
    left: 2rem;
    top: 1.2rem;
  }
  .layout-holder{
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 2rem;
    .layout-wrapper{
      display: flex;
      flex-direction: row;
      position: relative;
      max-width: 450px;
      background-color: rgba(54,43,86,0.95);
      padding: 4rem 0;
      margin: auto;
      height: auto;
      width: 90vw;
      @include box-shadow(0 10px 40px rgba(65, 50, 100, 0.3));
      @include border-radius(5px);
      .layout-container{
        overflow: auto;
        width: 100%;
        height: 100%;
        max-height: 75vh;
        padding: 0 4rem;
        color: $font_primary_light;
        &.normal{
          min-height: 40vh;
          background-color: rgba(63, 51, 100, 0.8);
        }
      }
    }
  }
}
