#nav{
  background-color: dodgerblue;
  height: 3rem;
  line-height: 3rem;
  ul{
    padding: 0 1rem;
    margin: 0;
    list-style: none;
    li{
      margin: 0 1rem;
      display: inline-block;
    }
  }
}
