<div id="layout">
  <div class="layout-holder">
    <div class="layout-wrapper">
      <div class="layout-container normal" #scrollMe>
          <div id="nav-tabs">
            <a class="nav-tab home" routerLink="/home" routerLinkActive="active">
              <i class="icon-home"></i>
            </a>
            <a class="nav-tab" routerLink="/todos" routerLinkActive="active">
              <span>Todos ({{_todo.totalTodosGet}})</span>
            </a>
          </div>
        <div class="logout click_link" (click)="_storage.onLogout()">
          <i class="icon-switch"></i>
        </div>
        <div class="welcome-msg">
          Welcome dear, <strong>{{_user.username}}</strong>!
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
