$task_bg: $secondary_color_dark;
$task_completed_state_color: #362b56;
$add_new_todo_color: #ff1c76;
$task_expand_options_bg: $primary_blue_lighter;

#task-list{
  .task-list-item-container{
    position: relative;
    overflow: hidden;
    background-color: $secondary_color_dark;
    height: 5rem;
    line-height: 5rem;
    color: $font_primary_light;
    margin: 1rem 0;
    padding: 0 2rem;
    @include fontSWHS(1.2rem, 500, 5rem);
    @include border-radius(50px);
    @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    &.completed{
      background-color: $task_completed_state_color;
    }
  }
  .click_link{
    @include transition(0.2s linear);
  }
  .task-item-expand-options{
    background: $task_expand_options_bg;
    //width: 5rem;
    width: 100%;
    padding: 0 2rem;
    height: 5rem;
    text-align: center;
    position: absolute;
    right: 0;
    overflow: hidden;
    @include border-radius(2.5rem);
    @include transform(translateX(83%));
    @include transition(all .5s ease-in);
    animation-delay: 1s;
    .click_link{
      &:hover{
        color: $font_primary_dark;
      }
    }
    //@include transition(all 0.5s linear);
    i{
      margin-right: .5rem;
      font-size: 1.6rem;
      &.icon-trash{
        cursor: pointer;
        &:hover{
          color: $secondary_color_dark;
        }
      }
      &.icon-arrow-left2{
        position: absolute;
        left: 1rem;
        top: 1.6rem;
      }
    }
    &:hover{
      @include transform(translateX(0%));
    }
  }
  .task-list-item-checkbox-container{
    display: flex;
    align-items: center;
  }
  .task-input{
    background-color: transparent;
    width: 100%;
    border: none;
    color: $font_primary_light;
    padding: 0 1rem;
    @include fontSWHS(1.2rem, 500, 3rem);
  }
  .input-editable{
    width: calc(100% - 3rem);
    border-bottom: 2px solid $font_primary_light;
  }
  .task-add-new{
    margin: 2rem 0;
    text-align: center;
    @include transition(0.2s linear);
    .task-add-new-txt{
      margin-top: .5rem;
    }
  }
  .task-delete-all{
    position: absolute;
    bottom: 1.2rem;
    left: 2rem;
    i{
      margin-right: .5rem;
    }
  }
  .icon-rounded{
    color: $add_new_todo_color;
    border: 2px solid $add_new_todo_color;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    @include border-radius(100%);
    i{
      position: relative;
      top: -4px;
      vertical-align: middle;
    }
  }
}





input[type=checkbox] {
  cursor: pointer;
  height: 30px;
  margin:4px 0 0;
  position: absolute;
  opacity: 0;
  width: 30px;
  z-index: 2;
}

input[type=checkbox] + span {
  background: #e74c3c;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  display: inline-block;
  height: 30px;
  position:relative;
  width: 30px;
  transition: all .2s ease;
}

input[type=checkbox] + span::before, input[type=checkbox] + span::after{
  background:#fff;
  content:'';
  display:block;
  position:absolute;
  width:4px;
  transition: all .2s ease;
}

input[type=checkbox] + span::before{
  height:16px;
  left:13px;
  top:7px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

input[type=checkbox] + span::after{
  height:16px;
  right:13px;
  top:7px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

input[type=checkbox]:checked + span {
  background:#2ecc71;
}

input[type=checkbox]:checked + span::before{
  height: 9px;
  left: 9px;
  top: 13px;
  -webkit-transform:rotate(-47deg);
  transform:rotate(-47deg);
}

input[type=checkbox]:checked + span::after{
  height: 15px;
  right: 11px;
  top: 8px;
}

input[type=submit] {
  background-color: #2ecc71;
  border: 0;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size:16px;
  text-align: center;
  padding: 12px 20px 14px;
}



